@if $use-element-pre == true {
  // ELEMENTS - pre

  code,
  pre {
    font-family: $global-mono-font-family;
    hyphens: none;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-wrap: break-word;
  }

  pre {
    @include font-size($global-font-size - 2);
    background-color: $color-white;
    border: 1px solid $color-grey-lighter;
    border-radius: $global-border-radius;
    color: $color-grey-dark;
    overflow: auto;
    padding: $global-spacing-unit;

    @if $global-responsive == true {
      @include set-breakpoint-max(md) {
        @include font-size($global-font-size - 3);
      }

      @include set-breakpoint-max(sm) {
        @include font-size($global-font-size - 4);
      }
    } // endif

    code {
      background-color: $color-transparent;
      padding: 0;
    }
  }
} // endif
