@if $use-element-pre == true {
  // ELEMENTS - pre

  code,
  pre {
    font-family: $global-mono-font-family;
    hyphens: none;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-wrap: break-word;
  }

  pre {
    @include font-size($global-font-size - 1px);
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    border-radius: $global-border-radius;
    color: $color-grey-darkest;
    overflow: auto;
    padding: $global-spacing-unit;

    code {
      background-color: $color-transparent;
      padding: 0;
    }
  }
} // endif
