@if $use-element-links == true {
  // ELEMENTS - Links

  //
  // Hyperlink colors
  //

  $color-link-visited:           $color-blue-dark !default;
  $color-link-hover:             $color-blue-light !default;
  $color-link-active:            $color-blue !default;



  //
  // 1. Base link style inherits the color of parent and isn't set.
  //

  a {
    @include link-style(
      $color: inherit, // [1] //
      $hover: $color-link-hover,
      $active: $color-link-active,
      $visited: $color-link-visited
    );
  }
}
