@if $use-element-forms == true {
  // ELEMENTS - Forms

  //
  // Form colours
  //

  $color-fieldset-bg:           $color-grey-lighter !default;



  //
  // 1. Specifing lobotomized owl selector to define a small specing value.
  //

  fieldset {
    background-color: $color-fieldset-bg;
    border-radius: $global-border-radius;
    padding: $global-spacing-unit;

    + * {
      margin-top: $global-spacing-unit; /* [1] */

      //
      // Sets spacing for medium and small breakpoint if responsive is true
      //

      @if $global-responsive == true {
        @include set-breakpoint-max(sm) {
          margin-top: $global-spacing-unit-xs;
        }

        @include set-breakpoint-max(md) {
          margin-top: $global-spacing-unit-sm;
        }
      } // endif
    }
  }

  label {
    @include clearfix();

    + * {
      margin-top: $global-spacing-unit-xs; /* [1] */
    }
  }
}
