@if $use-element-page == true {
  // ELEMENTS - Page elements such as paragraphs and text formatting elements

  abbr {

    &[title] {
      border-bottom: 1px dotted;
      text-decoration: none;

      &:hover {
        cursor: help;
      }
    }
  }

  code {
    background-color: $color-grey-lighter;
    border-radius: $global-border-radius;
    padding: $global-spacing-unit-xs;
  }

  mark {
    background-color: lighten($color-yellow, 10%);
    border-radius: $global-border-radius;
    padding: $global-spacing-unit-xs;
  }

  //
  // Set to 75% font-size based on the parent element
  //

  small {
    font-size: 75%;
  }
} // endif
