@if $use-element-links == true {
  // ELEMENTS - Links

  //
  // Hyperlink colors
  //

  $color-link-visited:           $color-navy !default;
  $color-link-hover:             lighten($color-navy, 20%) !default;
  $color-link-active:            lighten($color-navy, 30%) !default;



  a {

    //
    // 1. Base link style inherits the color of parent and isn't set.
    //

    &:link {
      color: inherit; /* [1] */
      text-decoration: underline;
    }

    &:visited {
      color: $color-link-visited;
    }

    &:hover {
      color: $color-link-hover;
    }

    &:active {
      color: $color-link-active;
    }
  }
}
