@if $use-element-headings == true {
  // ELEMENTS - Headings

  //
  //  Font sizes set for headline text. Using the font-size mixin will generate
  //  pixel and rem valued font-sizes.
  //

  $font-size-h1:               36px !default;
  $font-size-h2:               30px !default;
  $font-size-h3:               24px !default;
  $font-size-h4:               20px !default;
  $font-size-h5:               18px !default;
  $font-size-h6:               16px !default;



  h1 {
    @include font-heading($font-size-h1, $font-weight-sb);

    //
    // 1. Specifing lobotomized owl selector to override normalize margin
    //    styles. This keep's the <h1> element inline with all other elements
    //    or classes.
    //

    margin: 0;

    + * {
      margin-top: $global-spacing-unit; // [1 //

      //
      // Sets spacing for medium and small breakpoint if responsive is true
      //

      @if $global-responsive == true {
        @include set-breakpoint-max(sm) {
          margin-top: $global-spacing-unit-xs;
        }

        @include set-breakpoint-max(md) {
          margin-top: $global-spacing-unit-sm;
        }
      } // endif
    }
  }

  h2 {
    @include font-heading($font-size-h2, $font-weight-sb);
  }

  h3 {
    @include font-heading($font-size-h3, $font-weight-sb);
  }

  h4 {
    @include font-heading($font-size-h4, $font-weight-sb);
  }

  h5 {
    @include font-heading($font-size-h5, $font-weight-sb);
  }

  h6 {
    @include font-heading($font-size-h6, $font-weight-sb);
  }
}
