@if $use-element-forms == true {
  // ELEMENTS - Forms

  form {

  }

  label {
    width: 100%;

    //
    // Specifing lobotomized owl selector to define a small specing value
    //

    + * {
      margin-top: $global-spacing-unit-tiny;
    }
  }

  input {
    width: 100%;
  }
}
