@if $use-layout-containers == true {
  // LAYOUT - Containers

  //
  // Sets the container widths.
  //
  // 1. Can be overwritten with the BEM class .container--fluid for a full
  //    width layout.
  //

  .container {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: $global-max-width;
    padding: 0 $global-spacing-unit;
    width: 100%;

    &--fluid { // [1] //
      max-width: 100%;
    }

    //
    // Uses as a strip of content and to contain grid elements.
    //

    &--strip {
      border-top: 1px dotted $color-grey-lighter;
      margin-top: 0;
      padding-bottom: $global-spacing-unit-lg;
      padding-top: $global-spacing-unit-lg;

      @if $global-responsive == true {
        @include set-breakpoint-max(md) {
          padding-bottom: $global-spacing-unit;
          padding-top: $global-spacing-unit;
        }

        @include set-breakpoint-max(sm) {
          padding-bottom: $global-spacing-unit-sm;
          padding-top: $global-spacing-unit-sm;
        }
      } // endif

      //
      // Removes border if it's the first row or the modifier class is used.
      //

      &:first-child,
      &-no-border {
        border-top: 0;
      }
    }

    //
    // Sets container color.
    //

    @each $name, $color in $color-list {
      &--color-#{$name} {
        background-color: $color;

        //
        // Sets text colour to white to make certain types readable.
        //
        @if $name != orange or $name == white {
          color: $color-white;
        }
      }
    }

    //
    // Sets height of the container to be the full height of the window.
    //

    &--pane {
      height: 100vh;

      &-half {
        height: 50vh;
      }

      &-third {
        height: calc(100vh / 3);
      }
    }

    //
    // Sets a smaller container gutter when responsive is enabled.
    //

    @if $global-responsive == true {
      @include set-breakpoint-max(md) {
        padding: $global-spacing-unit-sm;
      }

      @include set-breakpoint-max(sm) {
        padding: $global-spacing-unit-xs;
      }
    } // endif
  }
} // endif
