@if $use-layout-containers == true {
  // LAYOUT - Containers

  //
  // Sets the container widths.
  //
  // 1. Can be overwritten with the BEM class .container--fluid for a full
  //    width layout.
  //

  .container {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: $global-max-width;
    padding: 0 $global-spacing-unit;
    width: 100%;

    > .container {
      padding-left: 0;
      padding-right: 0;
    }

    &--fluid { // [1] //
      max-width: 100%;
    }

    //
    // Uses as a strip of content and to contain grid elements.
    //

    &--strip {
      border-top: 1px dotted $color-grey-lighter;
      margin-top: 0;
      padding-bottom: $global-spacing-unit-xl;
      padding-top: $global-spacing-unit-xl;

      @if $global-responsive == true {
        @include set-breakpoint-max(md) {
          padding-bottom: $global-spacing-unit-lg;
          padding-top: $global-spacing-unit-lg;
        }
      } // endif

      //
      // Removes border if it's the first row or the modifier class is used.
      //

      &:first-child,
      &-no-border {
        border-top: 0;
      }
    }

    //
    // Sets container color.
    //

    @each $name, $color in $color-list {
      &--color-#{$name} {
        background-color: $color;

        //
        // Sets text colour to white to make certain types readable.
        //
        @if $name != orange or $name == white {
          color: $color-white;
        }
      }
    }

    //
    // Sets height of the container to be the full height of the window.
    //

    &--pane {
      min-height: 100vh;

      &-half {
        min-height: 50vh;
      }

      &-third {
        min-height: calc(100vh / 3);
      }
    }

    //
    // Aligns content of the container vertically center.
    //

    &--middle {
      // sass-lint:disable-block no-vendor-prefixes, no-misspelled-properties
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }
  }
} // endif
