@if $use-layout-grids == true {
  // Layout - Flex grid

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;

    > * {
      flex: 1 0 10rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      margin-top: 0;

      @media screen and (max-width: $breakpoint-medium) {
        margin-top: $global-spacing-unit;
      }
    }
  }
} // endif
