@if $use-layout-spacing == true {
  // SPACING

  * {
    margin: 0;

    + * {
      margin-top: 20px;
    }
  }

  body,
  br,
  li,
  dt,
  dd,
  th,
  td,
  option {
    margin: 0;
  }
} // endif
