@if $use-layout-containers == true {
  // Layout - Containers

  /*
   * Sets the container widths.
   *
   * 1. Can be overwritten with the BEM class .container--fluid for a full
   *    width layout.
   */

  .container {
    @include clearfix();
    margin-right: auto;
    margin-left: auto;
    max-width: $global-max-width;
    padding: 0 $global-spacing-unit;
    width: 100%;

    &--fluid /* [1] */ {
      max-width: 100%;
    }

    @if $global-responsive == true {
      @include set-breakpoint-max(md) {
        padding: 0 $global-spacing-unit-small;
      }
    } // endif
  }
} // endif
