@if $use-layout-spacing == true {
  // SPACING

  * {
    margin: 0;

    + * {
      margin: 1.5em 0 0;
    }
  }

  body,
  br,
  li,
  dt,
  dd,
  th,
  td,
  option {
    margin: 0;
  }
} // endif
