// SETTINGS - COLOR DEFAULTS

$color-black:            #000 !default;
$color-white:            #FFF !default;

$color-gray-dark:        #333 !default;
$color-gray:             #444 !default;
$color-gray-light:       #666 !default;
$color-gray-lighter:     #cdcdcd !default;
$color-gray-lightest:    #f7f7f7 !default;
