// Settings - Variable defaults

/* <FRAMEWORK NAME> default variables. To override any variables change them in
 * _variables.scss found in the root of the scss folder.
 */



// TESTING MODE

/*
 *  Testing mode will set visual highlights and notices on peotential markup and
 *  accessibility issues in the browser. Set to true or false to load.
 */
$testing-mode:               false !default;



// GLOBAL

/*
 *  Enables box-sizing: border-box; on all elements.
 */
$global-border-box:          true !default;

/*
 *  Global font sizes.
 */
$global-font-size:           16px !default;
$global-line-height:         24px !default;

/*
 *  Global font-family
 */
$global-font-family:         sans-serif !default;

/*
 *  Global framework color.
 */
$global-color:               $color-gray-dark !default;

/*
 *  Global spacing unit.
 */
$global-spacing-unit:        round($global-line-height) !default;

/*
 *  Global standard UI variables
 */
$global-border-radius:       3px !default;
$global-transition:          all 400ms ease-in-out !default;



// RESPONSIVE

/*
 *  Enable or disable responsive styles.
 */
$global-responsive:          true !default;

/*
 *  Mobile breakpoint start points.
 */
$breakpoint-x-small:         320px !default;
$breakpoint-small:           420px !default;
$breakpoint-medium:          768px !default;
$breakpoint-large:           1024px !default;



// ELEMENTS, OBJECTS, COMPONENTS & Utilities

/*
 *  List of all element, objects, components and utility styles enabled /
 *  disabled within the framework. To enable what is required set 'true' or
 *  'false' to load.
 */
$use-element-forms:          true !default;
$use-element-headings:       true !default;
$use-element-hr:             true !default;
$use-element-links:          true !default;
$use-element-lists:          true !default;
$use-element-media:          true !default;
$use-element-page:           true !default;
$use-element-quote:          true !default;
$use-element-table:          true !default;



$use-layout-base:            true !default;
$use-layout-containers:      true !default;
$use-layout-grids:           true !default;
