// SETTINGS - COLOR DEFAULTS

//
// Ground Work default colour variables. To override any variables change them
// in _variables.scss found in the root of the scss folder. All varilables here
// should set the visual tone of the framework.
//

$color-black:                  #000 !default;
$color-white:                  #FFF !default;



//
// Grey-scale variables
//

$color-grey-darkest:           #111 !default;
$color-grey-darker:            #333 !default;
$color-grey-dark:              #666 !default;
$color-grey:                   #888 !default;
$color-grey-light:             #ababab !default;
$color-grey-lighter:           #cdcdcd !default;
$color-grey-lightest:          #f7f7f7 !default;



//
// Primary color variables
//

$color-red:                    #e83a46 !default;
$color-orange:                 #f6511d !default;
$color-yellow:                 #ffb400 !default;
$color-blue:                   #00a6ed !default;
$color-green:                  #7fb800 !default;
$color-navy:                   #0d2c54 !default;
